components:
  schemas:
    ErrorDetail:
      additionalProperties: false
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    ErrorModel:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          example: https://api.steamsets.com/schemas/ErrorModel.json
          format: uri
          readOnly: true
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          example: Property foo is required but is missing.
          type: string
        errors:
          description: Optional list of individual error details
          items:
            $ref: "#/components/schemas/ErrorDetail"
          nullable: true
          type: array
        instance:
          description: A URI reference that identifies the specific occurrence of the problem.
          example: https://example.com/error-log/abc123
          format: uri
          type: string
        status:
          description: HTTP status code
          example: 400
          format: int64
          type: integer
        title:
          description: A short, human-readable summary of the problem type. This value should not change between occurrences of the error.
          example: Bad Request
          type: string
        type:
          default: about:blank
          description: A URI reference to human-readable documentation for the error.
          example: https://example.com/errors/example
          format: uri
          type: string
      type: object
    V1AccountsAppsResponseBody:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          example: https://api.steamsets.com/schemas/V1AccountsAppsResponseBody.json
          format: uri
          readOnly: true
          type: string
        apps:
          items:
            $ref: "#/components/schemas/V1App"
          nullable: true
          type: array
      required:
        - apps
      type: object
    V1App:
      additionalProperties: false
      properties:
        id:
          description: The Steam App ID
          example: 730
          format: int32
          type: integer
        image:
          description: The App's image URL
          example: https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/apps/730/a1a2f9f3f4c0c2b1f8d3a4e5f6d7e8f9.jpg
          type: string
        name:
          description: The App's name
          example: "Counter-Strike: Global Offensive"
          type: string
        playtime:
          description: The Account's playtime in the App
          example: 123456
          format: int32
          type: integer
        price:
          description: How much the app costs
          example: 1200
          format: int32
          type: integer
        shortName:
          description: The App's short name
          example: csgo
          type: string
      required:
        - id
        - image
        - name
        - playtime
        - price
        - shortName
      type: object
    V1Badge:
      additionalProperties: false
      properties:
        appId:
          format: int32
          type: integer
        appImage:
          type: string
        appName:
          type: string
        appShortName:
          type: string
        badgeImage:
          type: string
        completedAt:
          format: date-time
          type: string
        isFoil:
          type: boolean
        level:
          format: int32
          type: integer
        name:
          type: string
        price:
          format: int32
          type: integer
        publicId:
          type: string
        scarcity:
          format: int32
          type: integer
        steamId:
          format: int32
          type: integer
        xp:
          format: int32
          type: integer
      required:
        - appId
        - appImage
        - appName
        - appShortName
        - badgeImage
        - completedAt
        - xp
        - isFoil
        - level
        - name
        - scarcity
        - steamId
        - price
        - publicId
      type: object
    V1BadgesAppsResponseBody:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          example: https://api.steamsets.com/schemas/V1BadgesAppsResponseBody.json
          format: uri
          readOnly: true
          type: string
        badges:
          items:
            $ref: "#/components/schemas/V1Badge"
          nullable: true
          type: array
      required:
        - badges
      type: object
    V1LivenessResponseBody:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          example: https://api.steamsets.com/schemas/V1LivenessResponseBody.json
          format: uri
          readOnly: true
          type: string
        message:
          description: Whether we're alive or not
          example: OK
          type: string
      required:
        - message
      type: object
  securitySchemes:
    apiKey:
      in: header
      name: api-key
      type: apiKey
    session:
      bearerFormat: String
      scheme: bearer
      type: http
info:
  title: SteamSets API
  version: 1.0.0
openapi: 3.0.3
paths:
  /account.v1.AccountService/GetApps:
    post:
      operationId: account.v1.apps
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1AccountsAppsResponseBody"
          description: OK
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Bad Request
        "500":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal Server Error
      security:
        - apiKey: []
          session: []
      summary: Get Account Apps
      tags:
        - account
  /account.v1.AccountService/GetBadges:
    post:
      operationId: account.v1.badge
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1BadgesAppsResponseBody"
          description: OK
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Bad Request
        "500":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal Server Error
      summary: Get Account Badges
      tags:
        - account
  /v1/liveness:
    get:
      description: This endpoint checks if the service is alive.
      operationId: liveness
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1LivenessResponseBody"
          description: OK
        "500":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal Server Error
      summary: Liveness check
      tags:
        - liveness
servers:
  - url: https://api.steamsets.com
